# Node modules need to be installed through yarn
node_modules/

# Environment variables
.env

# Any logs created
*.log

# Data folders
src/data/databases/
src/data/images/emojis/
src/data/images/memes/
src/data/pastas/

# Folder keep
!**/*.gitkeep
!src/data/databases/*.gitkeep
!src/data/pastas/*.gitkeep
!src/data/images/emojis/*.gitkeep
!src/data/images/memes/*.gitkeep

# IDE Settings
.vscode/
.idea/

# Code coverage results
coverage/
.nyc_output/
