# Node modules need to be installed through yarn
node_modules/

# VS Code workspace settings
.vscode/

# Files for personal use
src/auth.json

# Any logs created
*.log

# Files that are specific for all users
src/settings.sqlite3
src/commands/memes/images/*
src/commands/emojis/images/*
src/commands/fun/pastas/*
src/commands/search/data/*
 
# Exclude single files from gitignore so the folders are created on Git
!src/commands/fun/pastas/navy.txt
!src/commands/memes/images/everyone.jpg
!src/commands/emojis/images/angery.png