token="Your bot or user token"
owner="Your user ID"
prefix="An optional global command prefix - As long as this entry has 'favna' inside it will be ignored!"
googleapikey="API Key for Google Cloud Platform"
imagekey="Google Custom Search Engine key (can be the same as searchkey but not recommended)"
searchkey="Google Custom Search Engine key (can be the same as imagekey but not recommended)"
oxrkey="Open-Exchange-Rates App ID"
moviedbkey="TheMovieDB API Key"
steamkey="Steam API Key"
igdbkey="IGDB API Key"
spotifyid="Spotify App ID"
spotifysecret="Spotify App Secret"
timezonedbkey="Timezonedb API Key"
darkskykey="API key for Darksky.com (weather command)"
kitsuid="AWQO5J657S"
kitsukey="NzYxODA5NmY0ODRjYTRmMzQ2YjMzNzNmZmFhNjY5ZGRmYjZlMzViN2VkZDIzMGUwYjM5ZjQ5NjAwZGI4ZTc5MHJlc3RyaWN0SW5kaWNlcz1wcm9kdWN0aW9uX21lZGlhJmZpbHRlcnM9Tk9UK2FnZVJhdGluZyUzQVIxOA=="
webhookid="The ID of a webhook"
webhooktoken="The token of a webhook"