{
    "richpresences": {
        "name": "",
        "details": "",
        "state": "",
        "endTimestamp": ,
        "largeImageID": "",
        "smallImageID": "",
        "largeText": "",
        "application_id": "",
        "url": ""
    }
}